<!DOCTYPE html>


<html lang="ar">

<%- include('partials/head')%>

  <body id="body">

    <%- include('partials/header')%>

      <main id="main">
        <section>

          <h1>Articles</h1>

          <div class="perentsArticles">

            <% arrArticle.forEach(item=>{ %>
              <article>
                <h2>
                  <%= item.title %>
                </h2>
                <p>
                  <%= item.summary %>
                    <a class="btn" href="/show-more">Show More</a>
                </p>
              </article>
              <% }); %>

          </div>

        </section>
      </main>



      <%- include('partials/footer')%>

  </body>

</html>